/* Couleurs (de la charte) ------------------------------------------ */
:root {
  --couleur_texte_primaire: black;
  /* initialement black */
  --couleur_texte_secondaire: white;
  --couleur_texte_tertiaire: violet;

  --couleur_fond_primaire: white;
  /* initialement white */
  --couleur_fond_secondaire: lightgrey;
  --couleur_fond_tertiaire: grey;
  --couleur_fond_quaternaire: violet;
}

body {
  background-color: var(--couleur_fond_tertiaire);
  /* grey; */
  font-family: 'Roboto', sans-serif;
  max-width: 1920px;
  /* Largeur de mon écran PC : 1920px */
  margin: auto;
}

/* ----- <header> & sa <nav> -------------------------------------------- */
header {
  background-color: var(--couleur_fond_primaire);
  /* white */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

header h1 {
  color: var(--couleur_texte_tertiaire);
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
}

header p {
  margin-top: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.c_auteur {
  font-weight: bold;
  font-size: 20px;
}

nav a {
  color: var(--couleur_texte_primaire);
  /* black; */
  margin: 0 10px;
  font-size: 18px;
}

nav a:hover {
  color: var(--couleur_texte_tertiaire);
}

/* ----- section BIENVENUE -------------------------------------------------- */
.c_section_bienvenue {
  margin-top: -20px;
  background-color: var(--couleur_fond_primaire);
  /* white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c_section_bienvenue h2,
.c_section_bienvenue span {
  font-size: 20px;
  font-style: italic;
}

/* ----- section COMPETENCES ------------------------------------------------ */
.c_section_competences {
  background-color: var(--couleur_fond_secondaire);
  /* LightGrey; */
  color: var(--couleur_texte_tertiaire);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c_section_competences ul {
  color: var(--couleur_texte_secondaire);
  /* white */
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.c_section_competences ul li {
  font-size: 20px;
  list-style: none;
  padding: 10px;
  margin: 10px;
}

/* ----- section PROJETS ----------------------------------------------------- */
.c_section_projets__div {
  background-color: var(--couleur_fond_secondaire);
  /* LightGrey; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  width: 100%;
  margin: auto;
  padding: 20px 0;
}

.c_section_projets__article img {
  width: 100%;
  object-fit: cover;
}

.c_section_projets__article {
  position: relative;
  /* par rapport à son fils "c_section_projets__article_masque" */
  width: 450px;
  height: 450px;
  margin: auto;
}

.c_section_projets__article :hover {
  opacity: 0.9;
}

/* ----- masque ------------------------------------ */
.c_section_projets__article_masque {
  background-color: var(--couleur_fond_tertiaire);
  /* grey; */
  opacity: 0;
  /* invisible */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  width: 350px;
  height: 300px;
  position: absolute;
  /* par rapport à son père "c_section_projets__article" */
  top: 0;
  padding-bottom: 10px;
}

.c_section_projets__article_masque_detail {
  color: var(--couleur_texte_secondaire);
  /* white */
  padding: 0 20px;
  text-align: left;
}

.c_section_projets__article_masque_detail_outils {
  background-color: var(--couleur_fond_secondaire);
  /* lightgrey */
  margin-top: -15px;
  display: flex;
  justify-content: center;
}

/* ----- les outils ----------------------------------- */
.c_section_projets__article_masque_detail_outils p {
  background-color: var(--couleur_fond_primaire);
  /*  white; */
  color: var(--couleur_texte_primaire);
  /* black; */
  font-weight: bolder;
  padding: 0 6px;
  margin: 2px 4px 2px 0;
}

/* ----- les liens "visiter le site" & "visiter le code" */
.c_section_projets__article_masque_liens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  font-weight: bolder;
}

.c_section_projets__article_masque_liens a {
  color: var(--couleur_texte_primaire);
  background-color: var(--couleur_fond_quaternaire);
  /* violet; */
  text-align: center;
  font-size: 12px;
  padding: 2px 16px;
  margin: 0 8px;
  text-decoration: none;
  border-radius: 15px;
}

.c_section_projets__article_masque_liens a:hover {
  background-color: var(--couleur_fond_primaire);
  /*  white; */
}

/* ----- section FORMATION ----------------------------------------------------- */
.c_section_formation {
  background-color: var(--couleur_fond_primaire);
  /* white */
  text-align: center;
  margin: 0;
  padding: 20px 2px;
}

.c_section_formation p {
  font-size: 18px;
}

/* ----- section FOOTER ----------------------------------------------------- */
footer {
  background-color: var(--couleur_fond_tertiaire);
  /* grey; */
  text-align: center;
  padding: 20px;
}

footer a {
  color: var(--couleur_texte_tertiaire);
  margin: 40px;
}

footer a:hover {
  color: var(--couleur_texte_secondaire);
}

address a {
  color: var(--couleur_texte_tertiaire);
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
}

.fab {
  font-size: 22px;
}

/* ----- styler les TITRES DES SECTIONS --------------------------------------------- */
.c_section_competences h2,
.c_section_projets h2,
.c_section_formation h2,
footer h2 {
  color: var(--couleur_texte_tertiaire);
  font-size: 30px;
  text-align: center;
}

.c_section_formation h2,
footer h2 {
  margin-top: 0;
}


/* MEDIA QUERIES ------------------------------------------------------------------------------------------ */

/* @media TABLETTE ----------------------------------------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {

  nav { width: 30%; /* background-color: pink; */  }

  .c_section_projets__div {
    /* background-color: green; */
    grid-template-columns: repeat(2, 1fr);
  }

.c_section_projets__article, .c_section_projets__article_masque {width: 90%; }

}

/* @media TELEPHONE ----------------------------------------------------------------------------------- */

@media (max-width: 767px) {

  nav {  width: 95%; /* background-color: pink; */  } 
  nav a { font-size: 12px;}

  .c_section_bienvenue, .c_section_competences { width: 80%; margin: auto; /* color: red; */ }

  .c_section_bienvenue span {
    font-size: 15px;
  }

  .c_section_competences ul li {
    font-size: 10px; /* 20px */
    padding: 5px;
    margin: 5px;
  }

    .c_section_projets__div {
      /* background-color: red; */
      grid-template-columns: repeat(1, 1fr); gap: 50px;
      margin: auto; 
      padding: 20px 0;
    }

    .c_section_projets__article, .c_section_projets__article_masque {width: 90%; }

    .c_section_projets__article { height: 50%; }

    .c_section_formation { margin-top: 100px; }

}